

        <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>" class="mdl-cell--8-col">
          <button class="loginBtn loginBtn--google">
            Login with Google
          </button>
        </a>

