<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mobile Web Final</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="../assets/ios-desktop.png">

  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">


  <script src="../assets/title.js"></script>
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href="../assets/styles.css">
  <link rel="stylesheet" href="../assets/global.css">
  <link rel="stylesheet" href="../assets/application.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

</head>
    <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--blue-grey-900 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title mdl-color-text--blue-grey-50" id="where_page_title_goes"></span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" method="get" action="<%= games_path %>">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item" href="https://github.com/">About</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="../assets/user.jpg" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>"email@example.com"</span>
            <div class="mdl-layout-spacer"></div>

          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games">All Games</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/new">New</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/edit">Edit</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/xbox_one">Xbox 1</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/wiiu">WiiU</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/wii">Wii</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/xbox_360">Xbox 360</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/xbox">Xbox</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/gcn">GameCube</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/ps2">Playstation 2</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/n64">Nintendo 64</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/ps1">Play Station 1</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/saturn">Sega Saturn</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/snes">Super Nintendo</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/genesis">Sega Genesis</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/nes">Nintendo Entertainment System</a>
          <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/games/pc">PC</a>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>

<main class="mdl-layout__content mdl-color--grey-100">
  <div>
    <%= yield %>
  </div>
</main>


</div>
<script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</body>
</html>
